html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0;
    font-family: "Outfit", sans-serif;
    background-color: hsl(148, 38%, 91%);
    font-family: "Karla", sans-serif;
}

.form__frame {
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    margin: 127px auto 102px auto;
    width: 740px;
    height: 775px;
    border: none;
}

.form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 102px;
    margin-left: 40px;
    margin-right: 40px;
}

legend {
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 43px;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
}

label {
    float: left;
    width: 75%;
    margin-top: 6px;
}

input {
    float: left;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 1px gray;
    padding: 10px;
    font-size: 17px;
}

input[type=text] {
    width: 100%;
    height: 3.3rem;
}

.name__input {
    display: grid;
    grid-template-columns: repeat(2, 100%);
    gap: 15px;
    
}

input[type=text]:hover,
input[type=email]:hover,
.choice__1:hover,
.choice__2:hover,
input[type=checkbox]:hover,
textarea:hover {
    cursor: pointer;
    border: solid 1px hsl(169, 82%, 27%);
}

input[type=email] {
    width: 100%;
    height: 3.3rem;
}

.email {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-top: 5px;
}

.query__title {
    margin-bottom: 10px;
}

.query {
    margin-top: 10px;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.radio__choice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    grid-gap: 16px;
    font-size: 18px;
}

.choice__1,
.choice__2 {
    border: solid 1px gray;
    border-radius: 10px;
    width: 100%;
    height: 3.2rem;
    text-align: left;
    align-content: center;
}

input[type=radio] {
    margin-left: 27px;
    margin-right: 19px;
    margin-bottom: 10px;
    transform: scale(1.7);
}

.message {
    margin-top: 5px;
    grid-column: 1 / 3;
}

textarea {
    margin-top: 12px;
    border-radius: 10px;
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 17px;
}

.consent {
    margin-top: 20px;
    grid-column: 1 / 3;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-left: 7px;
    margin-right: 20px;

}

.submit {
    margin-top: 17px;
    grid-column: 1 / 3;
}

input[type=submit] {
    width: 100%;
    height: 3.7rem;
    background-color: hsl(169, 82%, 27%);
    color: white;
    font-size: 17px;
    letter-spacing: 0.12em;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: black;
}

@media screen and (max-width: 375px) {
    .form__frame {
        width: 100px;
        height: 1075px;
        margin: 127px 15px auto 15px;
    }

    .form__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 87px;
        margin-left: 25px;
        margin-right: 25px;
    }

    legend {
        margin-top: 25px;
        margin-left: 25px;
    }
    
    label {
        float: left;
        margin-top: 6px;
    }
    
        input {
        float: left;
        margin-top: 10px;
        border-radius: 10px;
        border: solid 1px gray;
        padding: 10px;
        font-size: 17px;
    }
    
    input[type=text] {
        width: 100%;
        height: 3.3rem;
    }
    
    .name__input {
        grid-template-columns: repeat(1, max-content);
    }
    
    input[type=email] {
        height: 3.3rem;
    }
    
    .email {
        margin-top: 5px;
    }
    
    .query__title {
        margin-bottom: 10px;
    }
    
    .query {
        margin-top: 10px;
    }
    
    .radio__choice {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
        grid-gap: 16px;
        font-size: 18px;
    }
    
    .choice__1,
    .choice__2 {
        border: solid 1px gray;
        border-radius: 10px;
        height: 3.2rem;
        text-align: left;
        align-content: center;
    }
    
    input[type=radio] {
        margin-left: 27px;
        margin-right: 19px;
        margin-bottom: 10px;
        transform: scale(1.7);
    }
    
    .message {
        margin-top: 5px;
    }
    
    textarea {
        margin-top: 12px;
        border-radius: 10px;
        resize: none;
        padding: 10px;
        font-size: 17px;
    }
    
    .consent {
        margin-top: 20px;
    }
    
    input[type=checkbox] {
        transform: scale(1.5);
        margin-left: 7px;
        margin-right: 20px;
    
    }
    
    .submit {
        margin-top: 17px;
    }
    
    input[type=submit] {
        height: 3.7rem;
        background-color: hsl(169, 82%, 27%);
        color: white;
        font-size: 17px;
        letter-spacing: 0.12em;
    }
    
    input[type=submit]:hover {
        cursor: pointer;
        background-color: black;
    }
}